!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!    XTerm    !!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! Use a nice truetype font and size by default... 
xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 9

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! DOS-box colours...
xterm*foreground: #afc2c2
xterm*background: #303030
xterm*color0:     #000000
xterm*color1:     #cc4848
xterm*color2:     #559a70
xterm*color3:     #ccac00
xterm*color4:     #0099cc
xterm*color5:     #cc69c8
xterm*color6:     #7ac4cc
xterm*color7:     #bccccc
xterm*color8:     #000000
xterm*color9:     #1fa97d
xterm*color10:    #559a70
xterm*color11:    #ccac00
xterm*color12:    #0099cc
xterm*color13:    #cc69c8
xterm*color14:    #7ac4cc
xterm*color15:    #bccccc

! right hand side scrollbar...
xterm*rightScrollBar: false
xterm*ScrollBar: false

! use CLIPBOARD
XTerm.vt100.selectToClipboard: true \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

Xft.dpi: 240

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!    URXVT    !!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! Use a nice truetype font and size by default... 
urxvt*font:     xft:bitstream vera sans mono:size=9

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
urxvt*loginshell: true

! scrollback
urxvt*savelines: 16384

! Color theme
urxvt*foreground: #afc2c2
urxvt*background: #303030
urxvt*color0:     #000000
urxvt*color1:     #cc4848
urxvt*color2:     #559a70
urxvt*color3:     #ccac00
urxvt*color4:     #0099cc
urxvt*color5:     #cc69c8
urxvt*color6:     #7ac4cc
urxvt*color7:     #bccccc
urxvt*color8:     #000000
urxvt*color9:     #1fa97d
urxvt*color10:    #559a70
urxvt*color11:    #ccac00
urxvt*color12:    #0099cc
urxvt*color13:    #cc69c8
urxvt*color14:    #7ac4cc
urxvt*color15:    #bccccc

! disable scrollbar
urxvt*scrollBar: false

! Background image
urxvt*backgroundPixmap: /home/andrej/Slike/Red-Circle-PNG.png;style=tiled

! use CLIPBOARD
urxvt.vt100.selectToClipboard: true \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

