* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Iosevka Nerd Font';
    font-size: 13px;
}

window#waybar {
    font-weight: bold;
    background-color: rgba(40, 44, 52, 0.7);
    color: $COL_SYSTEM_FOREGROUND;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 5px 0px;
    border: 5px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    color: $COL_SYSTEM_FOREGROUND;
}

#workspaces button:hover {
    background-color: $COL_SYSTEM_BACKGROUND_ALT;
    border: 5px solid $COL_SYSTEM_BACKGROUND_ALT;
}

#workspaces button.visible {
    background-color: $COL_SYSTEM_BACKGROUND_ALT;
    border: 5px solid $COL_SYSTEM_BACKGROUND_ALT;
}

#workspaces button.focused {
    background-color: $COL_SYSTEM_PRIMARY;
    border: 5px solid $COL_SYSTEM_PRIMARY;
}

#workspaces button.urgent {
    background-color: $COL_SYSTEM_ALERT;
    border: 5px solid $COL_SYSTEM_ALERT;
}

#battery,
#cpu,
#temperature,
#pulseaudio,
#tray,
#custom-updates {
    border: 5px solid $COL_SYSTEM_PRIMARY;
    border-radius: 5px;
    padding: 5px;
    color: $COL_SYSTEM_FOREGROUND;
    background-color: $COL_SYSTEM_PRIMARY;
}

#window {
    margin: 0 4px;
}

#clock {
    box-shadow: none;
}

#battery.charging, #battery.plugged {
    color: $COL_SYSTEM_FOREGROUND_ALT;
    background-color: $COL_SYSTEM_SECONDARY;
    border: 5px solid $COL_SYSTEM_SECONDARY;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        border: 5px solid #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging):not(.plugged) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: $COL_SYSTEM_ALERT;
    border: 5px solid $COL_SYSTEM_ALERT;
}

#battery.warning:not(.charging) {
    background-color: $COL_SYSTEM_WARN;
    border: 5px solid $COL_SYSTEM_WARN;
}

label:focus {
    background-color: $COL_SYSTEM_BACKGROUND;
}


#pulseaudio.muted {
    color: $COL_SYSTEM_FOREGROUND_ALT;
    background-color: $COL_SYSTEM_SECONDARY;
    border: 5px solid $COL_SYSTEM_SECONDARY;
}


#temperature.critical {
    background-color: $COL_SYSTEM_ALERT;
    border: 5px solid $COL_SYSTEM_ALERT;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: $COL_SYSTEM_ALERT;
    border: 5px solid $COL_SYSTEM_ALERT;
}

#tray menu {
    background-color: $COL_SYSTEM_BACKGROUND;
    color: $COL_SYSTEM_FOREGROUND;
}
