* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Iosevka Nerd Font';
    font-size: 13px;
}

window#waybar {
    font-weight: bold;
    background-color: rgba(40, 44, 52, 0.7);
    color: #EFEFEF;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 10px 5px;
    background-color: transparent;
    color: #EFEFEF;
}

#workspaces button:hover {
    background-color: #444444;
}

#workspaces button.visible {
    background-color: #444444;
}

#workspaces button.focused {
    background-color: #7FBBB3;
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: #BD2C40;
}

#battery,
#cpu,
#temperature,
#pulseaudio,
#custom-updates {
    padding-top: 0px;
    padding-bottom: 10px;
    color: #EFEFEF;
    background-color: #7FBBB3;
    margin-bottom: 5px;
}


#custom-icon {
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #7FBBB3;
    margin-bottom: 0px;
}

#window {
    margin: 0 4px;
}

#clock {
    box-shadow: none;
}

#battery.charging, #battery.plugged {
    box-shadow: inset 0 -10px #45756f;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: inset 0 -3px #BD2C40;
}

label:focus {
    background-color: #282C34;
}


#pulseaudio.muted {
    box-shadow: inset 0 -10px #45756f;
}


#temperature.critical {
    box-shadow: inset 0 -10px #BD2C40;
}

#tray {
    background-color: transparent;
    margin-bottom: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #BD2C40;
}

#tray menu {
    background-color: #282C34;
    color: #EFEFEF;
}
